<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/cardstyle.css' />
  </head>
  <body>
    <header>
      <form action="/ac" method="post">
      <!-- <input list="species" name="species" value =""> -->
        <select id = "species">
          <option value ="">-</option>
          <option value ="개">개</option>
          <option value ="개구리">개구리</option>
          <option value ="개미핥기">개미핥기</option>
          <option value ="고릴라">고릴라</option>
          <option value ="고양이">고양이</option>
          <option value ="곰">곰</option>
          <option value ="늑대">늑대</option>
          <option value ="다람쥐">다람쥐</option>
          <option value ="닭">닭</option>
          <option value ="독수리">독수리</option>
          <option value ="돼지">돼지</option>
          <option value ="말">말</option>
          <option value ="문어">문어</option>
          <option value ="사슴">사슴</option>
          <option value ="사자">사자</option>
          <option value ="새">새</option>
          <option value ="소">소</option>
          <option value ="아기곰">아기곰</option>
          <option value ="악어">악어</option>
          <option value ="양">양</option>
          <option value ="염소">염소</option>
          <option value ="오리">오리</option>
          <option value ="원숭이">원숭이</option>
          <option value ="쥐">쥐</option>
          <option value ="캥거루">캥거루</option>
          <option value ="코끼리">코끼리</option>
          <option value ="코뿔소">코뿔소</option>
          <option value ="코알라">코알라</option>
          <option value ="타조">타조</option>
          <option value ="토끼">토끼</option>
          <option value ="펭귄">펭귄</option>
          <option value ="하마">하마</option>
          <option value ="햄스터">햄스터</option>
          <option value ="호랑이">호랑이</option>
        </select>
      <!-- <input list="gender" name="gender" value =""> -->
        <select id = "gender">
          <option value = "-1">-</option>
          <option value = "0">남</option>
          <option value = "1">여</option>
        </select>
      <!-- <input list="personality" name="personality" value =""> -->
        <select id = "personality">
          <option value = ""></option>
          <option value = "먹보"></option>
          <option value = "운동광"></option>
          <option value = "무뚝뚝"></option>
          <option value = "느끼함"></option>
          <option value = "친절함"></option>
          <option value = "아이돌"></option>
          <option value = "성숙함"></option>
          <option value = "단순활발"></option>
        </select> 
      <!-- <input type="submit" value="Submit">  -->
      </form>
    </header>

    <div id="cards">
      <% results.forEach( function(val){ %>
      <% if( new Date(val.birth).getTime() / 1000 <  -2207433600 ){ %>
      <figure class="card card--orange">
      <% } else if( new Date(val.birth).getTime() / 1000 <  -2204841600 ){ %>
      <figure class="card card--brown">
      <% } else if( new Date(val.birth).getTime() / 1000 <  -2202249600 ){ %>
      <figure class="card card--pink">
      <% } else if( new Date(val.birth).getTime() / 1000 <=  -2199657600 ){ %>
      <figure class="card card--red">
      <% } else if( new Date(val.birth).getTime() / 1000 <  -2196979200 ){ %>
      <figure class="card card--green">
      <% } else if( new Date(val.birth).getTime() / 1000 <  -2194214400 ){ %>
      <figure class="card card--yellow">
      <% } else if( new Date(val.birth).getTime() / 1000 <  -2191536000 ){ %>
      <figure class="card card--blue">
      <% } else if( new Date(val.birth).getTime() / 1000 <  -2188857600 ){ %>
      <figure class="card card--purple">
      <% } else if( new Date(val.birth).getTime() / 1000 <  -2186092800 ){ %>
      <figure class="card card--lightgreen">
      <% } else if( new Date(val.birth).getTime() / 1000 <  -2183587200 ){ %>
      <figure class="card card--violet">
      <% } else if( new Date(val.birth).getTime() / 1000 <  -2180908800 ){ %>
      <figure class="card card--yellowgreen">
      <% } else if( new Date(val.birth).getTime() / 1000 <  -2178403200 ){ %>
      <figure class="card card--cyan">
      <% } else { %>
      <figure class="card card--orange">
      <% } %> 
        <div class="card__image-container">
          <% if( val.cardIdx < 999 ){ %>
            <img src = 'amibo/<%= val.cardIdx>=100?(val.cardIdx-val.cardIdx%100)/100:0%><%= val.cardIdx>=10?(val.cardIdx%100-val.cardIdx%100%10)/10:0%><%= val.cardIdx%10%> <%=val.eng_name.toUpperCase()%>.png' class="card__image"/>
          <% } else { %>
            <img src = 'amibo/999 EMPTY.png' class="card__image"/>
          <% } %>
        </div>
    
        <figcaption class="card__caption">
          <h1 class="card__name_eng"><%= val.eng_name %></h1>
          <h1 class="card__name"><%=val.kor_name %></h1>
          <h1 class="card__name_eng"><%= val.jap_name %></h1>
          <h3 class="card__type">
            <% if( val.cardIdx < 999 ){ %>
              <%=val.cardIdx %>
            <% } else { %>
              ???
            <% } %>

          </h3>
          <table class="card__stats">
            <tbody>
              <tr>
                <th>종족</th>
                <td><%=val.species %></td>
              </tr>
              <tr>
                <th>성별</th>
                <td><%=val.gender == 0 ? '남' : '여' %></td>
              </tr>
    
              <tr>
                <th>성격</th>
                <% if(val.personality == 0){ %>
                  <td>먹보</td>
                <% } else if ( val.personality == 1){ %>
                  <td>운동광</td>
                <% } else if ( val.personality == 2){ %>
                  <td>무뚝뚝</td>
                <% } else if ( val.personality == 3){ %>
                  <td>느끼함</td>
                <% } else if ( val.personality == 4){ %>
                  <td>친절함</td>
                <% } else if ( val.personality == 5){ %>
                  <td>아이돌</td>
                <% } else if ( val.personality == 6){ %>
                  <td>성숙함</td>
                <% } else if ( val.personality == 7){ %>
                  <td>단순활발</td>
                <% } %>
              </tr>
            </tbody>

            <tr>
              <th>생일</th>
              <td><%= new Date(val.birth).getMonth() + 1 %>월 <%= new Date(val.birth).getDate() %>일</td>
            </tr>
          </table>
  
        </figcaption>
      </figure>
      <% }) %>
    </div>

    <script id="card-template" type="text/x-handlebars-template">
      <figure class="card card--{{type}}">
      <div class="card__image-container">
        <img src="{{imageAddress}}" alt="{{name}}" class="card__image">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="card__name">{{name}}</h1>
    
        <h3 class="card__type">e
          {{type}}
        </h3>
    
        <table class="card__stats">
          <tr>
            <th>HP</th>
            <td>{{hp}}</td>
          </tr>
          <tr>
            <th>Attack</th>
            <td>{{attack}}</td>
          </tr>
          
          <tr>
            <th>Defense</th>
            <td>{{defense}}</td>
          </tr>
    
          <tr>
            <th>Special Attack</th>
            <td>{{spAttack}}</td>
          </tr>
          <tr>
            <th>Special Defense</th>
            <td>{{spDefense}}</td>
          </tr>
          <tr>
            <th>Speed</th>  
            <td>{{speed}}</td>
          </tr>
        </table>
        
        <div class="card__abilities">
          <h4 class="card__ability">
            <span class="card__label">Ability</span>
            {{ability1}}
          </h4>
          <h4 class="card__ability">
            <span class="card__label">Hidden Ability</span>
            {{ability2}}
          </h4>
        </div>
      </figcaption>
    </figure>
    
  </script>

  </body>
</html>